
.header {
    display: block;
    background-color: #b0ee14;
    height: 50px;
    padding: 2px;
    text-align: center;
    line-height: 50px;
    margin: 0;
    border-radius: 10px;
    transition: opacity 5s ease-in-out;
}

.infoAboutBar{
    display: block;
    background-color: #6262c7;
    height: 30px;
    padding: 2px;
    text-align: left;
    line-height: 30px;
    margin: 0;
    border-radius: 10px;
}

.barName{
    display: block;
    background-color: #6262c7;
    height: 30px;
    padding: 2px;
    text-align: left;
    margin: 0;
    border-radius: 10px;
}

.barDescription{
    display: block;
    background-color: #6262c7;
    height: 80px;
    padding:2px;
    text-align: left;
    margin: 0;
    border-radius: 10px;
}

.menu{
    display: block;
    background-color: aqua;
    height: 30px;
    padding: 2px;
    text-align: left;
    margin: 0;
    border-radius: 10px;
}
.alcohol, .food{
    height: 120px;
    width: 120px;
    margin: 50px 0 0 50px;
    border-radius: 20px;
}

.navbar {
    background-color: #333; /* Колір фону полоски навігації */
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px; /* Відступ між пунктами навігації */
}

a {
    text-decoration: none;
    color: white; /* Колір тексту пунктів навігації */
}

a:hover {
    color: #ffd700; /* Колір тексту при наведенні курсору */
}

.contacts{
    background-color: #3466b0;
    border-radius: 10px;
}
.contacts ul {
    display: block;
}





